.cart {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: right;
}

.total {
  font-size: 32px;
  font-weight: 500;
}

.checkout {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #e2e2e2;

  > button {
    height: 50px;
    font-size: 18px;
    padding: 15px 30px;
    color: #fff;
    border: 1px solid #e4e4e4;
    background-color: #32a852;
    border-radius: 4px;
  }
}

.empty {
  text-align: center;
}

.back {
  text-decoration: none;
  color: #000;
  font-size: 32px;
  margin-top: 20px;
  display: block;
}
